body {
    font-family: Arial;
    background: #0f172a;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.box {
    background: #1e293b;
    padding: 30px;
    border-radius: 10px;
    width: 320px;
    text-align: center;
}

input, button {
    padding: 10px;
    width: 100%;
    margin-top: 10px;
    border-radius: 6px;
    border: none;
}

button {
    background: #38bdf8;
    cursor: pointer;
}
