body {
    font-family: Arial, sans-serif;
    background: #0f172a;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.box {
    background: #1e293b;
    padding: 30px;
    border-radius: 10px;
    width: 330px;
    text-align: center;
}

input, button {
    padding: 10px;
    width: 100%;
    margin-top: 10px;
    border-radius: 6px;
    border: none;
    font-size: 14px;
}

button {
    background: #38bdf8;
    cursor: pointer;
    font-weight: bold;
}

#passwordField {
    background: #020617;
    color: #38bdf8;
    font-weight: bold;
    text-align: center;
}

#copyMsg {
    color: lightgreen;
    margin-top: 10px;
}
