/node-backend/node_modules
/node-backend/package-lock.json
/node-backend/.env
/python-backend/venv
/python-backend/__pycache__
/python-backend/.env
/frontend/node_modules
/frontend/package-lock.json
/frontend/.env